﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.EffectViewModel

@{
    ViewData["Title"] = "Effects";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }

    var effectTypeOptions = Model.EffectTypes.Select(x => new SelectViewModel.Option(x, x));
    var damageTypeOptions = Model.DamageTypes.Select(x => new SelectViewModel.Option(x, x));
    var behaviourOptions = Model.Behaviours.Select(x => new SelectViewModel.Option(x.Id, x.Name?.En));
    var effectOptions = Model.Effects.Select(x => new SelectViewModel.Option(x.Id, x.Name));
    var projectileOptions = Model.Projectiles.Select(x => new SelectViewModel.Option(x.Id, x.Name));
    var validatorOptions = Model.Validators.Select(x => new SelectViewModel.Option(x.Id, x.Name));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "Name", Model.Active.Name!))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Type", "Type", Model.Active.Type, effectTypeOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("OriginParticlesPrefab", "OriginParticlesPrefab", Model.Active.OriginParticlesPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("TargetParticlesPrefab", "TargetParticlesPrefab", Model.Active.TargetParticlesPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("IsImmediate", "IsImmediate", Model.Active.IsImmediate))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<h5>Search Area</h5>

<div class="mb-3">
    <partial model='@(new InputViewModel("SearchAreaTargetLimit", "SearchAreaTargetLimit", Model.Active.SearchAreaTargetLimit))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("SearchAreaRadius", "SearchAreaRadius", Model.Active.SearchAreaRadius))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("SearchAreaValidatorId", "SearchAreaValidatorId", Model.Active.SearchAreaValidatorId, validatorOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("SearchAreaEffectId", "SearchAreaEffectId", Model.Active.SearchAreaEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<h5>Damage</h5>

<div class="mb-3">
    <partial model='@(new SelectViewModel("DamageType", "DamageType", Model.Active.DamageType, damageTypeOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("DamageFormula", "DamageFormula", Model.Active.DamageFormula))' name="~/Views/Partial/Input.cshtml"/>
</div>

<h5>Apply Behaviour</h5>

<div class="mb-3">
    <partial model='@(new InputViewModel("ApplyBehaviourStackCount", "ApplyBehaviourStackCount", Model.Active.ApplyBehaviourStackCount))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("ApplyBehaviourBehaviourId", "ApplyBehaviourBehaviourId", Model.Active.ApplyBehaviourBehaviourId, behaviourOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<h5>Projectile</h5>

<div class="mb-3">
    <partial model='@(new SelectViewModel("ProjectileId", "ProjectileId", Model.Active.ProjectileId, projectileOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("ProjectileEffectId", "ProjectileEffectId", Model.Active.ProjectileEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>