﻿@using Outworld.Editor.ViewModels.Partial
@{
    // ReSharper disable PossibleNullReferenceException
    var controller = ViewContext.RouteData.Values["controller"];
    var id = (ViewContext.RouteData.Values["id"] ?? 0).ToString();
    var icon = ViewData["Icon"] as string;
    var columns = ViewData["Columns"] as string[] ?? new string[] {};
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href="~/lib/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/bootstrap-icons-1.5.0/bootstrap-icons.css" rel="stylesheet"/>
    <link href="~/lib/bootstrap-select-1.14-dev/dist/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="bg-light mb-3 navbar navbar-light">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <form asp-action="Create" class="me-2" method="post">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-file-earmark-plus"></i> Create
                    </button>
                </form>

                <li class="dropdown nav-item">
                    <a aria-expanded="false" class="dropdown-toggle nav-link @(Html.ActiveRouteClassAny("Units", "UnitFlags", "Archetypes"))" data-bs-toggle="dropdown" href="#" role="button">
                        Units
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Units" class="dropdown-item @Html.ActiveRouteClass("Units")">Units</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="UnitFlags" class="dropdown-item @Html.ActiveRouteClass("UnitFlags")">Unit Flags</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Archetypes" class="dropdown-item @Html.ActiveRouteClass("Archetypes")">Archetypes</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown nav-item">
                    <a aria-expanded="false" class="dropdown-toggle nav-link @(Html.ActiveRouteClassAny("Items", "ItemFlags", "ItemTypes", "ItemCategories", "ItemAffixes", "Rarities"))" data-bs-toggle="dropdown" href="#" role="button">
                        Items
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Items" class="dropdown-item @Html.ActiveRouteClass("Items")">Items</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ItemFlags" class="dropdown-item @Html.ActiveRouteClass("ItemFlags")">Item Flags</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ItemTypes" class="dropdown-item @Html.ActiveRouteClass("ItemTypes")">Item Types</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ItemCategories" class="dropdown-item @Html.ActiveRouteClass("ItemCategories")">Item Categories</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ItemAffixes" class="dropdown-item @Html.ActiveRouteClass("ItemAffixes")">Item Affixes</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Rarities" class="dropdown-item @Html.ActiveRouteClass("Rarities")">Rarities</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown nav-item">
                    <a aria-expanded="false" class="dropdown-toggle nav-link @(Html.ActiveRouteClassAny("Skills", "Classes", "Effects", "Behaviours", "BehaviourFlags", "StatusFlags", "Validators"))" data-bs-toggle="dropdown" href="#" role="button">
                        Skills
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Skills" class="dropdown-item @Html.ActiveRouteClass("Skills")">Skills</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Effects" class="dropdown-item @Html.ActiveRouteClass("Effects")">Effects</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Behaviours" class="dropdown-item @Html.ActiveRouteClass("Behaviours")">Behaviours</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="BehaviourFlags" class="dropdown-item @Html.ActiveRouteClass("BehaviourFlags")">Behaviour Flags</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="StatusFlags" class="dropdown-item @Html.ActiveRouteClass("StatusFlags")">Status Flags</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Validators" class="dropdown-item @Html.ActiveRouteClass("Validators")">Validators</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown nav-item">
                    <a aria-expanded="false" class="dropdown-toggle nav-link @(Html.ActiveRouteClassAny("Properties", "PropertyModifiers"))" data-bs-toggle="dropdown" href="#" role="button">
                        Properties
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Properties" class="dropdown-item @Html.ActiveRouteClass("Properties")">Properties</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="PropertyModifiers" class="dropdown-item @Html.ActiveRouteClass("PropertyModifiers")">Property Modifiers</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Weapon" class="nav-link @Html.ActiveRouteClass("Weapon")">Weapon</a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Projectiles" class="nav-link @Html.ActiveRouteClass("Projectiles")">Projectiles</a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="I18n" class="nav-link @Html.ActiveRouteClass("I18n")">I18n</a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Configuration" class="nav-link @Html.ActiveRouteClass("Configuration")">Configuration</a>
                </li>
            </ul>

            <a asp-action="Index" asp-controller="Download" class="btn btn-outline-dark pull-right" target="_blank">
                <i class="bi bi-cloud-arrow-down"></i> Download
            </a>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index" asp-route-id="@id" method="get">
                <input class="form-control" id="search" name="search" onClick="this.select();" placeholder="Search..." type="text" value="@Context.Request.Query["search"]">
            </form>

            <table class="table table-borderless table-hover">
                <thead>
                <tr>
                    @if (icon != null)
                    {
                        <th style="width: 32px;"></th>
                    }

                    @foreach (var column in columns)
                    {
                        <th>@column</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var entity in Model.Models)
                {
                    <tr class="@(entity.Id.ToString() == id ? "active" : "")" onclick="location.href = '/@controller/Index/@entity.Id@Context.Request.QueryString'">
                        @if (icon != null)
                        {
                            <th>
                                <img alt="" class="icon" src="~/resources/Sprites/Items/@entity[icon]"/>
                            </th>
                        }

                        @foreach (var column in columns)
                        {
                            <td>@entity[column]</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="col-md-8">
            @await RenderSectionAsync("Before", required: false)

            <div class="card mb-3">
                <form method="post">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                    <div class="card-footer">
                        <partial model='@(new FormButtonViewModel("Update", "Save", "btn btn-success w-25", "bi-clipboard-check"))' name="~/Views/Partial/FormButton.cshtml"/>
                        <partial model='@(new FormButtonViewModel("Duplicate", "Duplicate", "btn btn-outline-primary w-25", "bi-files"))' name="~/Views/Partial/FormButton.cshtml"/>
                        <partial model='@(new FormButtonViewModel("Delete", "Delete", "btn btn-outline-danger float-right", "bi-trash"))' name="~/Views/Partial/FormButton.cshtml"/>
                    </div>
                </form>
            </div>

            @await RenderSectionAsync("After", required: false)
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap-select-1.14-dev/dist/js/bootstrap-select.js"></script>

<script asp-append-version="true" src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>