﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.BehaviourViewModel

@{
    ViewData["Title"] = "Behaviours";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }

    var effectOptions = Model.Effects.Select(x => new SelectViewModel.Option(x.Id, x.Name));
    var validatorOptions = Model.Validators.Select(x => new SelectViewModel.Option(x.Id, x.Name));
    var behaviourOptions = Model.Behaviours.Select(x => new SelectViewModel.Option(x.Id, x.Name?.En));
    var propertyModifierOptions = Model.PropertyModifiers.Select(x => new SelectViewModel.Option(x.Id, x.Name));
    var behaviourTypeOptions = Model.BehaviourTypes.Select(x => new SelectViewModel.Option(x, x));

    var flagOptions = Model.Flags.Select(x => new SelectViewModel.Option(x.Id, x.Name!));

    var flagsRelationViewModel = new RelationFormViewModel(Model.Active.Id, "Flags", "Flags", Model.Active.Flags.Select((flag, index) => new RelationFormViewModel.Related(
        flag.Id,
        $"flags[{index}].Id",
        $"flags[{index}].BehaviourId",
        new List<RelationFormViewModel.RelatedProperty>
        {
            new("Flag", "Select", new SelectViewModel($"flags[{index}].BehaviourFlagId", flag.BehaviourFlagId, flagOptions)),
        })));

    var statusFlagOptions = Model.StatusFlags.Select(x => new SelectViewModel.Option(x.Id, x.Name!));
    var statusFlagsRelationViewModel = new RelationFormViewModel(Model.Active.Id, "StatusFlags", "StatusFlags", Model.Active.StatusFlags.Select((statusFlag, index) => new RelationFormViewModel.Related(
        statusFlag.Id,
        $"flags[{index}].Id",
        $"flags[{index}].BehaviourId",
        new List<RelationFormViewModel.RelatedProperty>
        {
            new("Flag", "Select", new SelectViewModel($"statusFlags[{index}].StatusFlagId", statusFlag.StatusFlagId, statusFlagOptions)),
        })));

    var behavioursRelationViewModel = new RelationFormViewModel(Model.Active.Id, "Behaviours", "Behaviours", Model.Active.Behaviours.Select((behaviour, index) => new RelationFormViewModel.Related(
        behaviour.Id,
        $"flags[{index}].Id",
        $"flags[{index}].BehaviourId",
        new List<RelationFormViewModel.RelatedProperty>
        {
            new("Behaviour", "Select", new SelectViewModel($"behaviours[{index}].RelatedId", behaviour.RelatedId, behaviourOptions)),
        })));

    var propertyModifiersRelationViewModel = new RelationFormViewModel(Model.Active.Id, "PropertyModifiers", "PropertyModifiers", Model.Active.PropertyModifiers.Select((propertyModifier, index) => new RelationFormViewModel.Related(
        propertyModifier.Id,
        $"flags[{index}].Id",
        $"flags[{index}].BehaviourId",
        new List<RelationFormViewModel.RelatedProperty>
        {
            new("PropertyModifier", "Select", new SelectViewModel($"propertyModifiers[{index}].PropertyModifierId", propertyModifier.PropertyModifierId, propertyModifierOptions)),
        })));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Description", "DescriptionId", Model.Active.DescriptionId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Icon", "Icon", Model.Active.Icon))' name="~/Views/Partial/IconSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Type", "Type", Model.Active.Type, behaviourTypeOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Duration", "Duration", Model.Active.Duration))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("StackCount", "StackCount", Model.Active.StackCount))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("IsPositive", "IsPositive", Model.Active.IsPositive!))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<h5>Buff</h5>

<div class="mb-3">
    <partial model='@(new InputViewModel("BuffTickPeriod", "BuffTickPeriod", Model.Active.BuffTickPeriod))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("BuffApplyEffectId", "BuffApplyEffectId", Model.Active.BuffApplyEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("BuffTickEffectId", "BuffTickEffectId", Model.Active.BuffTickEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("BuffExpireEffectId", "BuffExpireEffectId", Model.Active.BuffExpireEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("BuffRemoveEffectId", "BuffRemoveEffectId", Model.Active.BuffRemoveEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<h5>Aura</h5>

<div class="mb-3">
    <partial model='@(new InputViewModel("AuraRadius", "AuraRadius", Model.Active.AuraRadius))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("AuraValidatorId", "AuraValidatorId", Model.Active.AuraValidatorId, validatorOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("AuraBehaviourId", "AuraBehaviourId", Model.Active.AuraBehaviourId, behaviourOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<h5>Events</h5>

<div class="mb-3">
    <partial model='@(new SelectViewModel("OnTakeDamageEffectId", "OnTakeDamageEffectId", Model.Active.OnTakeDamageEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("OnDealDamageEffectId", "OnDealDamageEffectId", Model.Active.OnDealDamageEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("OnKillEffectId", "OnKillEffectId", Model.Active.OnKillEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("OnDeathEffectId", "OnDeathEffectId", Model.Active.OnDeathEffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

@section After
{
    <partial model="@flagsRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
    <partial model="@statusFlagsRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
    <partial model="@behavioursRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
    <partial model="@propertyModifiersRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
}