﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.Item>

@{
    ViewData["Title"] = "Items";
    ViewData["Icon"] = "Icon";
    ViewData["Columns"] = new[] {"Id", "Name"};
}

@if (Model?.Active == null)
{
    return;
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Description", "DescriptionId", Model.Active.DescriptionId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Icon", "Icon", Model.Active.Icon!))' name="~/Views/Partial/IconSelect.cshtml"/>
</div>