﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.Projectile>

@{
    ViewData["Title"] = "Projectiles";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "Name", Model.Active.Name))' name="~/Views/Partial/Input.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("Prefab", "Prefab", Model.Active.Prefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("ImpactPrefab", "ImpactPrefab", Model.Active.ImpactPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("DestroyOnCollision", "DestroyOnCollision", Model.Active.DestroyOnCollision))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("RicochetOnCollision", "RicochetOnCollision", Model.Active.RicochetOnCollision))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("IsHoming", "IsHoming", Model.Active.IsHoming))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("HomingRadius", "HomingRadius", Model.Active.HomingRadius))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("HomingSpeed", "HomingSpeed", Model.Active.HomingSpeed))' name="~/Views/Partial/Input.cshtml"/>
</div>