﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.Rarity>

@{
    ViewData["Title"] = "Rarities";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Color", "Color", Model.Active.Color!))' name="~/Views/Partial/Colorpicker.cshtml"/>
</div>