﻿body {
    padding-bottom: 200px;
    overflow-y: scroll;
}

.card-body h5 {
    margin-top: 50px;
}

input.form-control:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5) !important;
}

input.form-control {
    background-color: #f8f9fa;
    border: none;
}

input.form-control:focus {
    background-color: #f8f9fa;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.form-check {
    padding-left: 0;
}

.form-switch {
    padding-left: 0;
}

.form-switch .form-check-input {
    margin-left: 0;
    float: none;
    display: block;
}

.w-auto {
    width: auto !important;
}

.w-50 {
    width: 50% !important;
}

.w-45 {
    width: 40% !important;
}

.w-40 {
    width: 40% !important;
}

.w-35 {
    width: 35% !important;
}

.w-30 {
    width: 30% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 10% !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.card-footer {
    padding: 1rem;
}

.table-fixed {
    table-layout: fixed;
}

.table {
    margin-bottom: 0;
}

.table th {
    font-size: 0.8rem;
    color: #666;
}

.table-hover tr {
    height: 45px;
    vertical-align: middle;
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: #fefefe;
}

.table-hover tbody tr:active {
    background-color: #efefef;
}

.table-hover tbody tr.active {
    background-color: #0d6efd;
    color: #fff;
}

.table-hover tbody tr.active:hover {
    color: #fff;
}

.table .icon {
    width: 24px;
    height: 24px;
}

.bootstrap-select img {
    object-fit: contain;
    width: 32px;
    height: 32px;
}