﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ItemAffixesViewModel

@{
    ViewData["Title"] = "Item Affixes";
    ViewData["Columns"] = new[] {"Id", "Name", "Description"};

    if (Model?.Active == null)
    {
        return;
    }

    var propertyModifierOptions = Model.PropertyModifiers.Select(p => new SelectViewModel.Option(p.Id, p.Name)).ToList();
    var propertiesRelationViewModel = new RelationFormViewModel(
        Model.Active.Id, "Property Modifiers", "PropertyModifiers",
        Model.Active.PropertyModifiers.Select((modifier, index) => new RelationFormViewModel.Related(
            modifier.Id,
            $"propertyModifiers[{index}].Id",
            $"propertyModifiers[{index}].ItemAffixId",
            new List<RelationFormViewModel.RelatedProperty>
            {
                new("Property", "Select", new SelectViewModel($"propertyModifiers[{index}].PropertyModifierId", modifier.PropertyModifierId!, propertyModifierOptions)),
            })));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Type", "Type", Model.Active.Type!, new []{new SelectViewModel.Option("Prefix"), new SelectViewModel.Option("Suffix")}))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Description", "DescriptionId", Model.Active.DescriptionId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Weight", "Weight", "number", Model.Active.Weight))' name="~/Views/Partial/Input.cshtml"/>
</div>

@section After
{
    <partial model="@propertiesRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
}