﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ItemCategoriesViewModel

@{
    ViewData["Title"] = "Item Categories";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }

    var itemTypeOptions = Model.ItemTypes.Select(t => new SelectViewModel.Option(t.Id, t.Name?.En ?? "")).ToList();
    var itemTypeRelationViewModel = new RelationFormViewModel(
        Model.Active.Id, "Item Types", "ItemTypes",
        Model.Active.Types.Select((modifier, index) => new RelationFormViewModel.Related(
            modifier.Id,
            $"itemTypes[{index}].Id",
            $"itemTypes[{index}].ItemCategoryId",
            new List<RelationFormViewModel.RelatedProperty>
            {
                new("Item Type", "Select", new SelectViewModel($"itemTypes[{index}].ItemTypeId", modifier.ItemTypeId!, itemTypeOptions)),
            })));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

@section After
{
    <partial model="@itemTypeRelationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
}