﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.I18nViewModel

@{
    ViewData["Title"] = "I18n";
    ViewData["Columns"] = new[] {"Id", "Key", "En"};

    @if (Model?.Active == null)
    {
        return;
    }

    var propertyOptions = Model.Effects
        .Select(p => new SelectViewModel.Option(p.Id, p.Name ?? $"Effect #{p.Id}"))
        .ToList();

    var relatedViewModels = Model.Active.Effects.Select((property, index) => new RelationFormViewModel.Related(
        property.Id,
        $"effects[{index}].Id",
        $"effects[{index}].I18nId",
        new List<RelationFormViewModel.RelatedProperty>
        {
            new("Effect", "Select", new SelectViewModel($"effects[{index}].EffectId", property.EffectId, propertyOptions)),
            new("Placeholder", "Input", new InputViewModel($"effects[{index}].Placeholder", property.Placeholder!))
        }));

    var relationViewModel = new RelationFormViewModel(Model.Active.Id, "Effects", "Effects", relatedViewModels);
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>
<div class="mb-3">
    <partial model='@(new InputViewModel("Key", "Key", Model.Active.Key!))' name="~/Views/Partial/Input.cshtml"/>
</div>
<div class="mb-3 row">
    <div class="col">
        <partial model='@(new InputViewModel("Ru", "Ru", Model.Active.Ru!))' name="~/Views/Partial/TextArea.cshtml"/>
    </div>
    <div class="col">
        <partial model='@(new InputViewModel("En", "En", Model.Active.En!))' name="~/Views/Partial/TextArea.cshtml"/>
    </div>
</div>

@section After
{
    <partial model="@relationViewModel" name="~/Views/Partial/RelationForm.cshtml"/>
}