﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.WeaponViewModel

@{
    ViewData["Title"] = "Weapon";
    ViewData["Columns"] = new[] {"Id", "Name", "Type"};

    if (Model?.Active == null)
    {
        return;
    }

    var effectOptions = Model.Effects
        .Select(effect => new SelectViewModel.Option(effect.Id, effect.Name ?? ""))
        .ToList();

    var projectileOptions = Model.Projectiles
        .Select(projectile => new SelectViewModel.Option(projectile.Id, projectile.Name ?? ""))
        .ToList();

    var weaponTypeOptions = Model.WeaponTypes.Select(x => new SelectViewModel.Option(x, x));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "Name", Model.Active.Name))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Type", "Type", Model.Active.Type, weaponTypeOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Prefab", "Prefab", Model.Active.Prefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Range", "Range", Model.Active.Range))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("CooldownTime", "CooldownTime", Model.Active.CooldownTime))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("PreparationTime", "PreparationTime", Model.Active.PreparationTime))' name="~/Views/Partial/Input.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("IsCharging", "IsCharging", Model.Active.IsCharging))' name="~/Views/Partial/Checkbox.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("ChargeDurationSeconds", "ChargeDurationSeconds", Model.Active.ChargeDurationSeconds))' name="~/Views/Partial/Input.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("BeamPrefab", "BeamPrefab", Model.Active.BeamPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("BeamReflectionCount", "BeamReflectionCount", Model.Active.BeamReflectionCount))' name="~/Views/Partial/Input.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("ShotSpreadCount", "ShotSpreadCount", Model.Active.ShotSpreadCount))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("ShotSpreadDegrees", "ShotSpreadDegrees", Model.Active.ShotSpreadDegrees))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("ShotBarrageCount", "ShotBarrageCount", Model.Active.ShotBarrageCount))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("ShotBarrageInterval", "ShotBarrageInterval", Model.Active.ShotBarrageInterval))' name="~/Views/Partial/Input.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new InputViewModel("OriginParticlesPrefab", "OriginParticlesPrefab", Model.Active.OriginParticlesPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("TargetParticlesPrefab", "TargetParticlesPrefab", Model.Active.TargetParticlesPrefab))' name="~/Views/Partial/PrefabSelect.cshtml"/>
</div>

<hr/>

<div class="mb-3">
    <partial model='@(new SelectViewModel("EffectId", "EffectId", Model.Active.EffectId, effectOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("ProjectileId", "ProjectileId", Model.Active.EffectId, projectileOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>