﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.PropertyModifiersViewModel

@{
    ViewData["Title"] = "Property Modifiers";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }

    var propertyOptions = Model.Properties
        .Select(property => new SelectViewModel.Option(property.Id, property.Name?.ToString() ?? ""))
        .ToList();

    var modifierTypeOptions = Model.ModifierTypes.Select(x => new SelectViewModel.Option(x, x));
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "Name", Model.Active.Name))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Type", "Type", Model.Active.Type!, modifierTypeOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new SelectViewModel("Property", "PropertyId", Model.Active.PropertyId!, propertyOptions))' name="~/Views/Partial/Select.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Amount", "Amount", Model.Active.Amount))' name="~/Views/Partial/Input.cshtml"/>
</div>