@model Outworld.Editor.ViewModels.Partial.InputViewModel

@{
    if (Model == null)
    {
        return;
    }
}

<div class="form-check form-switch">
    @{
        if (!string.IsNullOrEmpty(Model.Label))
        {
            <label class="form-check-label">@Model.Label</label>
        }
    }

    <input class="form-check-input" type="checkbox" name="@Model.Name" value="true" @((bool) (Model.Value ?? false) ? "checked" : "")>
</div>