@model Outworld.Editor.ViewModels.Partial.InputViewModel

@{
    if (Model == null)
    {
        return;
    }
}

<div class="form-check form-switch">
    @{
        if (!string.IsNullOrEmpty(Model.Label))
        {
            <label class="form-check-label">@Model.Label</label>
        }
    }

    <input type="color" class="form-control form-control-color" name="@Model.Name" value="@Model.Value">
</div>