@model Outworld.Editor.ViewModels.Partial.FormButtonViewModel

@if (Model == null)
{
    return;
}

<button asp-action="@Model.Action"
        asp-route-filter="@Context.Request.Query["filter"]"
        asp-route-search="@Context.Request.Query["search"]"
        class="@Model.Class">
    <i class="bi @Model.Icon"></i> @Model.Label
</button>