@using Outworld.Editor.ViewModels
@model Outworld.Editor.ViewModels.Partial.InputViewModel
@{
    // ReSharper disable PossibleNullReferenceException

    if (Model == null)
    {
        return;
    }

    var library = (ViewLibrary) ViewData["Library"]!;
}

@if (!string.IsNullOrEmpty(Model.Label))
{
    <label class="form-label">@Model.Label</label>
}

<select class="form-control selectpicker" data-live-search="true" name="@Model.Name">
    <option value="null">Null</option>
    @foreach (var i18n in library.I18n)
    {
        <option data-content="<b>@i18n.Key</b><br/>@i18n.En"
                selected="@(i18n.Id.ToString() == Model.Value?.ToString())" value="@i18n.Id">
        </option>
    }
</select>