@using Outworld.Editor.ViewModels
@model Outworld.Editor.ViewModels.Partial.InputViewModel
@{
    // ReSharper disable PossibleNullReferenceException

    if (Model == null)
    {
        return;
    }

    var library = (ViewLibrary) ViewData["Library"];
}

@if (!string.IsNullOrEmpty(Model.Label))
{
    <label class="form-label">@Model.Label</label>
}

<select class="form-control selectpicker" data-live-search="true" name="@Model.Name">
    <option value="null">Null</option>
    @foreach (var icon in library.Icons)
    {
        <option data-content="<img src='/resources/Sprites/Items/@icon'/> @icon"
                selected="@(icon == Model.Value?.ToString())" value="@icon">
        </option>
    }
</select>