@model Outworld.Editor.ViewModels.Partial.InputViewModel

@{
    if (Model == null)
    {
        return;
    }

    if (!string.IsNullOrEmpty(Model.Label))
    {
        <label class="form-label">@Model.Label</label>
    }
}

<input class="form-control" name="@Model.Name" type="@Model.Type" value="@Model.Value">