@model Outworld.Editor.ViewModels.Partial.RelationFormViewModel

@{
    if (Model == null)
    {
        return;
    }
}

<form method="post">
    <div class="card mb-3">
        <div class="card-body p-3">
            <h5 class="card-title">@Model.Title</h5>
            @if (Model.RelatedViewModels.Any())
            {
                <hr/>
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        @foreach (var property in Model.RelatedViewModels.First().Properties)
                        {
                            <th class="text-center">@property.Label</th>
                        }

                        <th class="text-center" style="width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var relatedModel in Model.RelatedViewModels)
                    {
                        <tr id="property-@Model.ParentId-@relatedModel.Id">
                            <input type="hidden" name="@relatedModel.PrimaryKeyName" value="@relatedModel.Id">
                            <input type="hidden" name="@relatedModel.ParentKeyName" value="@Model.ParentId">

                            @foreach (var property in relatedModel.Properties)
                            {
                                <td style="width: @(100.0f / Model.RelatedViewModels.First().Properties.Count())%">
                                    <partial model="@property.ViewModel" name="@($"~/Views/Partial/{property.View}.cshtml")"/>
                                </td>
                            }

                            <td>
                                <a asp-action="@("Delete" + Model.ActionSuffix)"
                                   asp-route-id="@Model.ParentId"
                                   asp-route-relatedId="@relatedModel.Id"
                                   asp-route-filter="@Context.Request.Query["filter"]"
                                   asp-route-search="@Context.Request.Query["search"]"
                                   class="btn btn-outline-danger">
                                    <i class="bi bi-x-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
        <div class="card-footer">
            <button type="submit"
                    asp-action="@("Save" + Model.ActionSuffix)"
                    asp-route-id="@Model.ParentId"
                    asp-route-filter="@Context.Request.Query["filter"]"
                    asp-route-search="@Context.Request.Query["search"]"
                    class="btn btn-outline-success w-10">
                <i class="bi bi-clipboard-check"></i> Save
            </button>

            <button asp-action="@("Add" + Model.ActionSuffix)"
                    asp-route-id="@Model.ParentId"
                    asp-route-filter="@Context.Request.Query["filter"]"
                    asp-route-search="@Context.Request.Query["search"]"
                    class="btn btn-outline-primary w-10">
                <i class="bi bi-file-earmark-plus"></i> Add
            </button>
        </div>
    </div>
</form>