@model Outworld.Editor.ViewModels.Partial.SelectViewModel

@if (Model == null)
{
    // ReSharper disable PossibleNullReferenceException
    return;
}

@if (!string.IsNullOrEmpty(Model.Label))
{
    <label class="form-label">@Model.Label</label>
}

<select class="form-control selectpicker" data-live-search="true" name="@Model.Name">
    <option value="null">NULL</option>
    @foreach (var option in Model.Options)
    {
        <option selected="@(option.Value.Equals(Model.Value))" value="@option.Value">@option.Label</option>
    }
</select>