﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.Property>

@{
    ViewData["Title"] = "Properties";
    ViewData["Columns"] = new[] {"Id", "Type", "Name"};

    if (Model?.Active == null)
    {
        return;
    }
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "NameId", Model.Active.NameId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Description", "DescriptionId", Model.Active.DescriptionId!))' name="~/Views/Partial/I18nSelect.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Type", "Type", Model.Active.Type!))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3 row">
    <div class="col">
        <partial model='@(new InputViewModel("Min", "Min", "number", Model.Active.Min))' name="~/Views/Partial/Input.cshtml"/>
    </div>
    <div class="col">
        <partial model='@(new InputViewModel("Max", "Max", "number", Model.Active.Max))' name="~/Views/Partial/Input.cshtml"/>
    </div>
</div>