﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.UnitFlag>

@{
    ViewData["Title"] = "Unit Flags";
    ViewData["Columns"] = new[] {"Id", "Name"};

    if (Model?.Active == null)
    {
        return;
    }
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>

<div class="mb-3">
    <partial model='@(new InputViewModel("Name", "Name", Model.Active.Name!))' name="~/Views/Partial/Input.cshtml"/>
</div>