﻿@using Outworld.Editor.ViewModels.Partial
@model Outworld.Editor.ViewModels.ViewModel<Outworld.Editor.Database.Entities.Configuration>

@{
    ViewData["Title"] = "Configuration";
    ViewData["Columns"] = new[] {"Id"};

    if (Model?.Active == null)
    {
        return;
    }
}

<div class="mb-3">
    <partial model='@(new InputViewModel("Id", "Id", Model.Active.Id))' name="~/Views/Partial/Input.cshtml"/>
</div>